<div id="form">
  <%= form_with(model: @tweet, data: { turbo_form: true }) do |f| %>
    <div class="row">
      <%= f.label :topic, "Topic:" %>
      <%= f.text_field :topic, class: "field", id: "tweet_topic", required: true %>
    </div>
    <div class="row">
      <%= f.label :keywords, "Keywords:" %>
      <%= f.text_field :keywords, class: "field", id: "tweet_keywords" %>
    </div>
    <div class="row">
      <%= f.label :tone, "Tone:" %>
      <%= f.select :tone, options_for_select(['', 'Formal', 'Informal', 'Humerous', 'Serious', 'Optimistic', 'Critical', 'Motivating', 'Entusiastic']), {}, class: "dropdown", id: "tweet_tone", required: true %>
    </div>
    <div class="row">
      <%= f.label :audience, "Target Audience:" %>
      <%= f.text_field :audience, class: "field", id: "tweet_audience" %>
    </div>
    <div class="row">
      <%= f.label :hashtags, "#Hashtags:" %>
      <%= f.text_field :hashtags, class: "field", id: "tweet_hashtags" %>
    </div>
    <div class="emojis">
      <%= f.label :emojis, "Emojis 🙈" %>
      <%= f.check_box :emojis, id: "tweet_emojis" %>
    </div>
    <div class="button-row">
      <input type="reset" value="Clear" class="clear-button">
      <%= f.submit "Let's Go! ➜", class: "button" %>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% end %>
</div>
