<div id="edit-tweet" data-controller="count">
  <div class="generated-tweet" id="generated-tweet">
    <p><%= @tweet.generated_tweet %></p>
  </div>
  <div id="edit-form" class="d-none">
    <%= form_for @tweet do |f| %>
      <div class="row">
        <%= f.text_area :generated_tweet, class:"area", maxlength:"280" %>
      </div>
    </div>
    <h6 id="characters"><span id="count"></span>/260 Characters</h6>
    <%= f.submit 'Save', class:"button" %>
  <% end %>
  <%= render 'shared/links' %>
</div>
