<div id="edit-tweet" data-controller="count">
  <div class="tweet-container" id="generated-tweet">
    <p><%= @tweet.generated_tweet %></p>
    <button class="edit-button", id="edit">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <div class="counter">
      <h5><span id="character-count"></span> / 280 </h5>
    </div>
  </div>
  <div id="edit-form" class="d-none" data-controller="live-count">
    <%= form_for @tweet, html: { id: "tweet-form" } do |f| %>
      <div class="tweet-container">
        <%= f.text_area :generated_tweet, maxlength: "280", class: "area" %>
        <div class="counter">
          <h5><span id="live-count"></span> / 280 </h5>
        </div>
      </div>
    <% end %>
    <button type="submit" form="tweet-form" class="button">Save <i class="fa-regular fa-floppy-disk"></i></button>
  </div>
  <div class="links" data-controller="edit">
    <%= link_to root_path, class: "button", id: "refresh-button" do %>
      New <i class="fa-solid fa-arrows-rotate"></i>
    <% end %>
    <%= link_to(@url, class: "button", target: "_blank", id:"share") do %>
      Share <i class="fa-brands fa-twitter"></i>
    <% end %>
  </div>
</div>
<script>
  var refreshButton = document.getElementById("refresh-button");
  refreshButton.addEventListener("click", function() {
    location.reload();
  });
</script>
