<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= turbo_include_tags %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="z-index">
      <%= yield %>
    </div>
    <div class="center">
      <div id = "cloud1"></div>
    </div>
    <div class="top">
      <div id = "cloud2"></div>
    </div>
    <div class="bottom">
      <div id = "cloud3"></div>
    </div>
    <div class="right-top">
      <div id = "cloud4"></div>
    </div>
    <div class="right-bottom">
      <div id = "cloud5"></div>
    </div>
    <div class="sun rotate">
      <div class="no-rotate">
        <h2>5,000</h2>
        <h5>Generated Tweets</h5>
      </div>
    </div>
    <div class="plane">
      <img src="https://i.ibb.co/rbrthQD/plane.png" alt="plane" class="fly">
    </div>
    <div class="right-center">
      <div id = "cloud6"></div>
    </div>
    <div class="left-bottom">
      <div id = "cloud7"></div>
    </div>
    <div class="left-top">
      <div id = "cloud8"></div>
    </div>
    <div class="left-center">
      <div id = "cloud9"></div>
    </div>
    <div class="footer">
      <h3>Coded by <a href="">Oscar Welton</a></h3>
      <ul class="socials">
        <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href=""><i class="fa-brands fa-square-github"></i></a></li>
        <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
      </ul>
    </div>
  </body>
</html>
