<!DOCTYPE html>
<html>
  <head>
    <%# <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= turbo_include_tags %>
    <title>Tweeter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="z-index">
      <%= yield %>
    </div>
    <div class="center">
      <div id = "cloud1"></div>
    </div>
    <div class="top">
      <div id = "cloud2"></div>
    </div>
    <div class="bottom">
      <div id = "cloud3"></div>
    </div>
    <div class="right-top">
      <div id = "cloud4"></div>
    </div>
    <div class="right-bottom">
      <div id = "cloud5"></div>
    </div>
    <div class="right-center">
      <div id = "cloud6"></div>
    </div>
    <div class="left-bottom">
      <div id = "cloud7"></div>
    </div>
    <div class="left-top">
      <div id = "cloud8"></div>
    </div>
    <div class="left-center">
      <div id = "cloud9"></div>
    </div>
  </body>
</html>
